<%- include ('../../partials/header.ejs') -%>
<%- include ('../../partials/navbar.ejs') -%>

<div class="container">
    <h2>Index da categories</h2>
    <a href="/admin/categories/new" class="btn btn-success">Criar nova Categoria</a>


<table class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>Id</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% categories.forEach(category => { %>
         
        
        <tr>
            <th><%= category.id %> </th>
            <th><%= category.title %> </th>
            <th><%= category.slug %> </th>
            <th>
                <a href="/admin/categories/edit/<%= category.id %>" class="btn btn-warning">Editar</a>
                <form action="/categories/delete" method="post" style="display: inline" onsubmit="deleteConfirm(event, this)">
                    <button  class="btn btn-danger" type="submit">Excluir</button>
                    <input type="hidden" value="<%= category.id %>" name="id">
                </form>
            
            </th>
            
        </tr>
        <% }) %>
        

    </tbody>

</table>
</div>

<%- include ('../../partials/footer.ejs') -%>
