<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

<div class="container">
    <h1>Categorias</h1>
    
<div class="list-group mt-4 w-50 mr-auto">
    <% categories.forEach(category => { %>
    <a href="/category/<%=category.slug%>" class="list-group-item list-group-item-action"><%= category.title %></a>
    <% }) %>
</div>

</div>


<%- include ('partials/footer.ejs') -%>